CSV_URL="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyobtVhSYeDWEoKYpVQjvTXvtbWRVbIOF5m-Q-tYsoeWhzHdmCSS2W60dyS0cD4FZugUjJmOlDva0Y/pub?gid=1863135743&single=true&output=csv"
META_PIXEL_ID="2919800498130478"
META_ACCESS_TOKEN="PON_AQUI_EL_TOKEN_DEL_ENUNCIADO"
GRAPH_API_VERSION="v21.0"